<h2>Lista de tareas</h2>

<ol>
<% @tasks.each do |task| %>
  <li>
  <% if task.completed %>
  <i class="fas fa-check-square"></i>
<% else %>
  <i class="fas fa-square"></i>
<% end %>
  <%= link_to task.title, task_path(task.id) %></li>
<% end %>
</ol>

<h4><%= link_to "+ Agregar tarea", new_task_path %></h4>
